{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    {% block title%}
    <title>Will I Be Late?</title>
    {% endblock %}
</head>
<body>
    <header class="navbar-fixed">
        <nav>
         <div class="nav-wrapper deep-purple lighten-3">
             <a href="{% url 'home' %}" class="brand-logo left">Will I Be Late Today?</a>
         </div>
        </nav> 
     </header>
     <main class="container">
         {% block content %} 
         {% endblock %}
     </main>
     <footer class="page-footer deep-purple lighten-3">
         <p>All Rights Reserved, Copyright &copy; Will I Be Late 2023 &nbsp;</p>
     </footer> 
</body>
</html>