{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block title%}
    <title>Will I Be Late?</title>
    {% endblock %}
</head>
<body>
    <header class="navbar-fixed">
        <nav>
         <div class="nav-wrapper deep-purple lighten-3">
             <a href="{% url 'home' %}" class="brand-logo left">Will I Be Late Today?</a>
             <ul class="right">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'favorite_stations' %}">Favorite Stations</a>
                </li>
                <li>
                    <a href="{% url 'favorite_subways' %}">Favorite Subway Lines</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Log Out</a>
                </li>
                {% else %}
                <li>
                    <a href="{% url 'login' %}">Log In</a>
                </li>
                <li>
                    <a href="{% url 'signup' %}">Sign Up</a>
                </li>
                {% endif %}
            </ul>
         </div>
        </nav> 
     </header>
     <main class="container">
         {% block content %} 
         {% endblock %}
     </main>
     <footer class="page-footer deep-purple lighten-3">
         <p>All Rights Reserved, Copyright &copy; Will I Be Late 2023 &nbsp;</p>
     </footer>
     <script type="text/javascript" src="js/materialize.min.js"></script>
     <script>
        document.addEventListener('DOMContentLoaded', function() {
          var elems = document.querySelectorAll('.dropdown-trigger');
          var instances = M.Dropdown.init(elems);
          });
      // add event listener to the dropdown
      // when the dropdown is clicked, open the dropdown
      
      </script> 
      <script>
        // Load the JSON data
        // Your JavaScript code goes here
        console.log("hello")
        $.getJSON("{% static 'data/stations.json' %}", function(data) {
            console.log('the data is loaded')
            // console.log(data)
            const dataArray = Object.values(data);
            // console.log(dataArray)
            // console.log(jsonData)
        
            // Attach an event listener to the search input
            $('#search-input').on('input', function() {
                var searchQuery = $(this).val().toLowerCase();
                var filteredData = [];
        
                // Filter the JSON data based on the search query
                if (searchQuery) {
                    filteredData = dataArray.filter(function(item) {
                        return item.name.toLowerCase().indexOf(searchQuery) !== -1;
                    });
                }
        
                // Update the dropdown list with the filtered results
                var resultsList = $('#search-results');
                resultsList.empty();
                $.each(filteredData, function(index, result) {
                    link = '/station/' + result.id + '/'
                    resultsList.append(`<li><a href="${link}">${result.name}</a></li>`);
                });
            });
        });
    </script>
</body>
</html>