{% extends 'base.html' %} {% load static %} {% block title %}
<title>Favorite Stations</title>
{% endblock %} {% block content %}
<h1>Favorite Stations</h1>
<div class="row g-3">
    {% for station in stations %}
    <div class="col-sm-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ station.station_data.name }}</h3>
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <button
                class="nav-link active northbound-tab"
                id="northbound-tab-{{ station.station_id }}"
                data-bs-toggle="tab"
                data-bs-target="#northbound-tab-{{ station.station_id }}-pane"
                type="button"
                role="tab"
                aria-controls="northbound-tab-{{ station.station_id }}-pane"
                aria-selected="true"
                >Northbound</button
              >
            </li>
            <li class="nav-item">
              <button
                class="nav-link southbound-tab"
                id="southbound-tab-{{ station.station_id }}"
                data-bs-toggle="tab"
                data-bs-target="#southbound-tab-{{ station.station_id }}-pane"
                type="button"
                role="tab"
                aria-controls="southbound-tab-{{ station.station_id }}-pane"
                aria-selected="false"
                >Southbound</button
              >
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content" id="nav-tabContent">
            <div
              class="tab-pane fade show active northbound-tab-pane"
              role="tabpanel"
              aria-labelledby="northbound-tab-{{ station.station_id }}-pane"
              tabindex="0"
              id="northbound-tab-{{ station.station_id }}-pane"
            >
              {% for train in station.station_data.N %}
              <p>
                <img
                  class="responsive-img"
                  id="station-bullet"
                  src="{% static 'imgs/' %}{{ train.route }}.svg"
                  alt="{{ train.route }}"
                />
                {{ train.time }}, {{ train.time_until_train }} minutes away
              </p>
              {% endfor %}
            </div>
            <div
              class="tab-pane fade southbound-tab-pane"
              role="tabpanel"
              aria-labelledby="southbound-tab-{{ station.station_id }}-pane"
              tabindex="0"
              id="southbound-tab-{{ station.station_id }}-pane"
            >
              {% for train in station.station_data.S %}
              <p>
                <img
                  class="responsive-img"
                  id="station-bullet"
                  src="{% static 'imgs/' %}{{ train.route }}.svg"
                  alt="{{ train.route }}"
                />
                {{ train.time }}, {{ train.time_until_train }} minutes away
              </p>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    {% empty %}
    <div class="card">
      <div class="card-body">
        <h5>There are no favorite stations yet.</h5>
      </div>
    </div>
    {% endfor %}
  </div>
<script>
var northboundTriggerTabList = [].slice.call(document.querySelectorAll('#northbound-tab-{{ station.station_id }}-pane button'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
  })
})

var southboundTriggerTabList = [].slice.call(document.querySelectorAll('#southbound-tab-{{ station.station_id }}-pane button'))
triggerTabList.forEach(function (triggerEl) {
  var tabTrigger = new bootstrap.Tab(triggerEl)

  triggerEl.addEventListener('click', function (event) {
    event.preventDefault()
    tabTrigger.show()
  })
})

</script>
{% endblock%}
