{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Favorite Subways</title>
{% endblock %}

{% block content %}
<h1>Favorite Subways</h1>
<div class="row g-3">
    {% for subway in subways %}
    <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
            <a href="{% url 'subway_detail' subway.route_id %}">
                <div class="card-header">
                    <img class="responsive-img card-image"  id="header-bullet" src="{% static 'imgs/' %}{{ subway.route_id }}.svg" alt="{{ subway.route_id }}">
                </a>
            </div>    
            <div class="card-body">    
                    <h5 class="card-title" >Service Alerts</h5>
                    <div id="alerts">
                        <ul class="list-group list-group-flush">
                            {% for alert in subway.alerts %}
                            <li class="card-text list-group-item" >{{ alert.text }}</li>
                            {% empty %}
                            <li class="card-text list-group-item" >No active alerts</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" id="btn-purple" data-target="station-dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Select a Station</button>
                        <ul id="station-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            {% for station in subway.stations %}
                            <li>
                                <a class="dropdown-item" href="{% url 'station_detail' station.id %}">
                                    {{ station.name }}
                                </a>
                            </li>
                            {% empty %}
                            <li>This train is not currently running</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
        </div>
    </div>
    {% empty %}
    <div>
        <h5>There are no favorite subways yet.</h5>
    </div>
    {% endfor %}
</div>
{% endblock%}
