{% extends 'base.html' %}

{% block title %}
<title>Favorite Subways</title>
{% endblock %}

{% block content %}
<h1>Favorite Subways</h1>
<div class="row">
    {% for subway in subways %}
    <div class="col s12 m6 l3">
        <h3>{{ subway.name }}</h3>
        <h5>Current Service Alerts</h5>
        <ul class="status-update">
            {% for alert in alerts %}
            <li>{{ alert.text }}</li>
            {% endfor %}
        </ul>
        <h5>{{ subway.name }} Stations</h5>
        <ul class="station-list">
            {% for station in stations %}
            <li>
                <a href="{% url 'station_detail' station.id %}">
                    {{ station.name }}
                </a>
            </li>
            {% empty %}
            <li>This train is not currently running</li>
            {% endfor %}
    </div>
    {% empty %}
    <div>
        <h5>There are no favorite subways yet.</h5>
    </div>
    {% endfor %}
</div>
{% endblock%}
