{% extends 'base.html' %}
{% load static %}

{% block content %}

<h1>Will I Be Late Today?</h1>
<h2>Realtime Subway Updates</h2>
<p>Track favorite trains and stations</p>
<div class="form-group">
    <h4>Search for a Subway Station:</h4>
    <input type="text" class="form-control white-text" id="search-input" placeholder="Search...">
    <div class="dropdown">
        <ul class="dropdown-menu" id="search-results"></ul>
    </div>
</div>
<div class="train-lines">
    <h4>Search By Train Line:</h4>
    <div class="row">
        <a href="/line/1" class="mta-bullet line-1 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/1.svg' %}" alt="1">
        </a>
        <a href="/line/2" class="mta-bullet line-2 col s12 m6 l2">
            <img src="{% static 'imgs/2.svg' %}" alt="2">
        </a>
        <a href="/line/3" class="mta-bullet line-3 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/3.svg' %}" alt="3">
        </a>
    </div>
    <div class="row">
        <a href="/line/4" class="mta-bullet line-4 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/4.svg' %}" alt="4">
        </a>
        <a href="/line/5" class="mta-bullet line-5 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/5.svg' %}" alt="5">
        </a>
        <a href="/line/6" class="mta-bullet line-6 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/6.svg' %}" alt="6">
        </a>
        <a href="/line/7" class="mta-bullet line-7 col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/7.svg' %}" alt="7">
        </a><br />
    </div>
    <div class="row">
        <a href="/line/A" class="mta-bullet line-A col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/A.svg' %}" alt="A">
        </a>
        <a href="/line/C" class="mta-bullet line-C col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/C.svg' %}" alt="C">
        </a>
        <a href="/line/E" class="mta-bullet line-E col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/E.svg' %}" alt="E">
        </a><br class="col s12"/>
    </div>
    <div class="row">
        <a href="/line/N" class="mta-bullet line-N col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/N.svg' %}" alt="N">
        </a>
        <a href="/line/Q" class="mta-bullet line-Q col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/Q.svg' %}" alt="Q">
        </a>
        <a href="/line/R" class="mta-bullet line-R col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/R.svg' %}" alt="R">
        </a>
        <a href="/line/W" class="mta-bullet line-W col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/W.svg' %}" alt="W">
        </a><br class="col s12"/>
    </div>
    <div class="row">
        <a href="/line/B" class="mta-bullet line-B col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/B.svg' %}" alt="B">
        </a>
        <a href="/line/D" class="mta-bullet line-D col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/D.svg' %}" alt="D">
        </a>
        <a href="/line/F" class="mta-bullet line-F col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/F.svg' %}" alt="F">
        </a>
        <a href="/line/M" class="mta-bullet line-M col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/M.svg' %}" alt="M">
        </a><br class="col s12"/>
    </div>
    <div class="row">
        <a href="/line/L" class="mta-bullet line-L col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/L.svg' %}" alt="L">
        </a>
        <a href="/line/G" class="mta-bullet line-G col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/G.svg' %}" alt="G">
        </a>
        <a href="/line/J" class="mta-bullet line-J col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/J.svg' %}" alt="J">
        </a>
        <a href="/line/Z" class="mta-bullet line-Z col s12 m6 l2">
            <img class="responsive-img" src="{% static 'imgs/Z.svg' %}" alt="Z">
        </a>
    </div>
</div>
{% endblock %}