{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Upcoming trains at {{ station_data.name }}</title>
{% endblock %}

{% block content %}
<h1>Upcoming trains at {{ station_data.name }}</h1>
<h3>status message</h3>
<hr />
<input type="hidden" value="{{ now }}" id="now">
<h4>Northbound Trains:</h4>
{% for train in station_data.N %}
        <ul>
            <li><img class="responsive-img"  id="station-bullet" src="{% static 'imgs/' %}{{ train.route }}.svg" alt="{{ train.route }}">: {{ train.time }}, {{ train.time_until_train }} minutes away</li>
        </ul>
{% endfor %}
<h4>Southbound Trains:</h4>
{% for train in station_data.N %}
        <ul>
            <li><img class="responsive-img"  id="station-bullet" src="{% static 'imgs/' %}{{ train.route }}.svg" alt="{{ train.route }}">: {{ train.time }}, {{ train.time_until_train }} minutes away</li>
        </ul>
{% endfor %}
<script>
    var now = document.getElementById("now").value;
    setTimeout(function(){
        window.location.reload(1);
    }, 60000);
</script>
{% endblock%}