{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>What's Happening on the {{ subway }} ?</title>
{% endblock %}

{% block content %}
<!-- if statement to check if user has created this fav train -->
<br>
{% if fav_subway %}
  <a href="{% url 'remove_subway' subway_id=subway %}" class="favorite" data-subway-id="{{ subway }}"><i class="bi bi-star-fill"></i></a>
{% else %}
  <a href="{% url 'add_subway' subway_id=subway %}" class="favorite" data-subway-id="{{ subway}}"><i class="bi bi-star"></i></a>
{% endif %}
<br>
<h1>What's Happening on the <img class="responsive-img"  id="header-bullet" src="{% static 'imgs/' %}{{ subway }}.svg" alt="{{ subway }}"> ?</h1>
<div class="row gy-3">
<div class="col-sm-12 col-md-6">
    <div class="card">
        <h4 class="card-header">Current Service Alerts:</h4>
        <div class="card-body">
            {% for alert in alerts %}
            <p class="card-text"> {{ alert.text }}</p>
            {% empty %}
            <li>There are no service alerts at this time</li>
            {% endfor %}
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-6">
    <div class="card">
        <h4 class="card-header" >Check for Upcoming Trains: </h4>
        <div class="card-body">
            <p class="card-text">Select a station to see upcoming trains</p>
        <div class="dropdown">
            <button class="btn dropdown-toggle" id="btn-purple" data-target="station-dropdown" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Select a Station</button>
            <ul id="station-dropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                {% for station in stations %}
                <li>
                    <a class="dropdown-item" href="{% url 'station_detail' station.id %}">
                        {{ station.name }}
                    </a>
                </li>
                {% empty %}
                <li>This train is not currently running</li>
                {% endfor %}
            </ul>
        </div>
        </div>
    </div>
</div>
<!-- <a class='dropdown-trigger btn' href="#" data-target='station-dropdown'>Select a Station</a>
<ul id="station-dropdown" class="station-list dropdown-content">
    {% for station in stations %}
    <li>
        <a href="{% url 'station_detail' station.id %}">
            {{ station.name }}
        </a>
    </li>
    {% empty %}
    <li>This train is not currently running</li>
    {% endfor %}
</ul> -->


{% endblock%}